<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Only!</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav class="nav-bar flex">
        <ul class="flex">
            <li>Messages</li>
            <li>Login</li>
            <li>Sign Up</li>
        </ul>
    </nav>

    <div>
        <h1>Read anonymous messages from the team!</h1>
        <p>Something catch your eye? Want to know the mysterious authors? Join the club to see!</p>

        <div>
            <button>See the Authors!</button>
            <button>View Anonymously</button>
        </div>
    </div>
    


</body>
</html>