<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Only!</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav class="nav-bar flex">
        <ul class="flex">
            <li class="hover">Messages</li>
            <li class="hover">Login</li>
            <li class="hover">Sign Up</li>
        </ul>
    </nav>


    <div class="hero flex">

        <div class="logo-container flex justify-cen">
            <img class="detective-img" src="/images/detective.svg" alt="">
        </div>

        <div class="hero-content flex-col">
            <h1>Read anonymous messages from the team!</h1>
            <p>Something catch your eye? Want to know the mysterious authors? Join the club to see!</p>

            <div class="flex gap1 justify-cen">
                <button class="hero-button hover">See the Authors!</button>
                <button class="hero-button hover">View Anonymously</button>
            </div>
        </div>

        <div class="speech-bubble-container flex">
            <div class="speech-bubble">
                <p>It's APR 23 2026 4:57am. I am very tired and work in a couple hours. I am getting some
                    good work in on this project tho. It's been a while so I forget a lot.
                </p>
            </div>
            <img class="head-anon-user" src="/images/anonuser.svg" alt="anonuser">
        </div>
    </div>

    <div class="landing-msgs-container">
        <div class="landing-msg flex-col justify-cen">
            <div class="flex gap1">
                <img class="head-anon-user" src="/images/anonuser.svg" alt="">
                <div>
                    <h2>Anonymous</h2>
                    <p>This is filler text. This will be real later.</p>
                </div>
            </div>
    
        </div>

        <div class="landing-msg flex-col justify-cen">
            <div class="flex gap1">
                <img class="head-anon-user" src="/images/anonuser.svg" alt="">
                <div>
                    <h2>Anonymous</h2>
                    <p>This is filler text. This will be real later.</p>
                </div>
            </div>
            <p></p>
        </div>

        <div class="landing-msg flex-col justify-cen">
            <div class="flex gap1">
                <img class="head-anon-user" src="/images/anonuser.svg" alt="">
                <div>
                    <h2>Anonymous</h2>
                    <p>This is filler text. This will be real later.</p>
                </div>
            </div>
            <p></p>
        </div>

        <div class="landing-msg flex-col justify-cen">
            <div class="flex gap1">
                <img class="head-anon-user" src="/images/anonuser.svg" alt="">
                <div>
                    <h2>Anonymous</h2>
                    <p>This is filler text. This will be real later.</p>
                </div>
            </div>
            <p></p>
        </div>

        <div class="landing-msg flex-col justify-cen">
            <div class="flex gap1">
                <img class="head-anon-user" src="/images/anonuser.svg" alt="">
                <div>
                    <h2>Anonymous</h2>
                    <p>This is filler text. This will be real later.</p>
                </div>
            </div>
            <p></p>
        </div>

        <div class="landing-msg flex-col justify-cen">
            <div class="flex gap1">
                <img class="head-anon-user" src="/images/anonuser.svg" alt="">
                <div>
                    <h2>Anonymous</h2>
                    <p>This is filler text. This will be real later.</p>
                </div>
            </div>
            <p></p>
        </div>
    </div>

    <footer>
        <p>Thanks for visting Members ONLY!</p>
    </footer>

</body>
</html>